* {
  outline: none;
  box-sizing: border-box;
  font-family: 'Pretendard Variable', Pretendard, -apple-system,
    BlinkMacSystemFont, system-ui, Roboto, 'Helvetica Neue', 'Segoe UI',
    'Apple SD Gothic Neo', 'Noto Sans KR', 'Malgun Gothic', 'Apple Color Emoji',
    'Segoe UI Emoji', 'Segoe UI Symbol', sans-serif;
}

#root {
  background-color: #53caf2;
  line-height: 1;
}

.circle-marker {
  width: 1.2rem;
  height: 1.2rem;
  border: 0.2rem solid #ffffff;
  border-radius: 50%;
  background-color: #ec5641;
  -webkit-box-shadow: 0px 0px 26px 1px rgba(190, 190, 190, 1);
  -moz-box-shadow: 0px 0px 26px 1px rgba(190, 190, 190, 1);
  box-shadow: 0px 0px 26px 1px rgba(190, 190, 190, 1);
}

.dust-info-marker {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0.6rem 0.8rem;
  color: #ffffff;
  border: 0.18rem solid #ffffff;
  border-radius: 2rem;
}

.dust-info {
  display: flex;
  font-size: 0.8rem;
  text-align: center;
}

.divider {
  padding: 0 0.05rem 0 0.08rem;
}

.city-name {
  font-size: 0.8rem;
  font-weight: 700;
  margin-bottom: 0.2rem;
  color: #2a282f;
}
